body{
    margin: 0% 15%;
    display: flex;
    flex-direction: column;
    
}
section{
    margin: 8% 0%;
}


.containerimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbtn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btn-group{
 display: block;
}
h1{
    margin: 2%;
    display: flex;
    justify-self: center;
    align-self:center;
}
.texte{
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    justify-content: space-evenly;
}
.btn-group .btn{
    margin-top: 10px;
    padding: 20px;  
    border-width: 3px;
    border-color: silver;
}
.rouge{
    background-color: red;
}
.rose{
    background-color: pink;
}
.orange{
    background-color: orangered;
}
.jaune{
    background-color: yellow;
}
.bleu{
    background-color: blue;
}
.noir {
    background-color: black;
}
.blanc{
    background-color: white;
  
}
.vert{
    background-color: green;
}
